@CHARSET "ISO-8859-1";

#parent {
	display: inline-block;
}

#menu {
	background-color: #9BB4BF;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.inner_col {
	margin-top: 1%;
	float: left;
	width: 45%;
	display: inline-block;
}

#left_panel {
	margin-left: 5%;
}

#res_table {
	width: 100%;
	border-radius: 25px 25px 0px 0px;
	background-color: #E4E3F7;
}

#res_table th, td {
	width: 33%;
	text-align: center;
}

.res_meta {
	background-color: #9BB4BF;
}

#start {
	border-radius: 15px 0px 0px 0px;
}

#cost {
	border-radius: 0px 15px 0px 0px;
}

.res_start {
	background-color: #88AC70;
}

.res_end {
	background-color: #C0E3A8;
}

.res_cost {
	background-color: #88AC70;
}

#total_cost {
	float: right;
}

#total_table {
	background-color: #E4E3F7;
}

#total_meta {
	background-color: #9BB4BF;
}

#prices_update {
	float: right;
	display: inline-block;
}

.stats_meta {
	border-radius: 15px 15px 0px 0px;
	background-color: #9BB4BF;
}

.text_input {
	text-align: center;
	border: none;
}

#update {
	border-radius: 0px 0px 15px 15px;
	background-color: #9BB4BF;
}