@CHARSET "ISO-8859-1";

#parent {
	height: 100%;
}

#empty_top {
	width: 100%;
	height: 30%;
}

#menu {
    width: 50%;
    height: 40%;
    margin: 0 auto;
}

.menu_option {
	width: 49%;
	height: 100%;
    display: table;
    font-size: 200%;
}

#user_page {
	background-color: #BABABA;
	float: left;
	border-radius: 25px 0px 0px 25px;
}

#admin_page {
	background-color: #BABABA;
	float: right;
	border-radius: 0px 25px 25px 0px;
}

.title {
	text-align: center;
	vertical-align: middle; 
    display: table-cell;
}