@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	font-family: Lucida Console;
	font-weight: bold;
	background-color: #B8D7E6;
	cursor: default;
}

#parent {
	width: 100%;
}

.stats_container {
	border-radius: 15px;
	background-color: #E4E3F7;
}
