@CHARSET "ISO-8859-1";

#parent {
	height: 100%;
}

.row {
	width: 100%;
}

.row#head {
	height: 5%;
	text-align: center;
}

#menu {
	background-color: #9BB4BF;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.row#cal_area {
	height: 70%;
}

#cal_container {
	border-radius: 25px;
	float: left;
	height: 100%;
	width: 80%;
	margin-left: 10%;
}

.cal_nav {
	background-color: #BABABA;
	width: 5%;
	height: 100%;
	float: left;
}

.empty_top {
	width: 100%;
	height: 45%;
}

.nav_img {
    width: 100%;
    height: 10%;
}

.arrow {
	width: 100%;
	height: 100%;
}

.cal_nav#back {
	border-radius: 25px 0px 0px 25px;
}

.cal_nav#forward {
	border-radius: 0px 25px 25px 0px;
}

#calendar {
	background-color: #E4E3F7;
	width: 90%;
	height: 100%;
	float: left;
}

.cal_title {
	background-color: #9BB4BF;
	width: 50%;
	height: 5%;
	float: left;
	text-align: center;
}

#days {
	width: 100%;
	height: 95%;
	float: left;
}

#days_table {
	height: 100%;
	width: 100%;
}

#days_table td {
	border-radius: 10px;
	height: 16.6%;
}

.row#res_info {
	height: 20%;
}

.res_info {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.stats_meta {
	border-radius: 15px 0px 0px 15px;
	background-color: #9BB4BF;
}

.res_stats {
	text-align: center;
	border: none;
	border-radius: 10px;
}

#prices_container {
	position: absolute;
	left: 20%;
	bottom: 10%;
}

#res_container {
	position: absolute;
	right: 20%;
	bottom: 10%;
}

#reserve {
	border-radius: 0px 15px 15px 0px;
	background-color: #9BB4BF;
}